<header class="main-header">
    <nav class="main-header__nav">
        <div class="nav-items">
            <div class="main-header__item"><a class="<%= path == '/' ? 'active' : '' %>" href="/">Üzletek</a></div>
            <div class="main-header__item"><a class="<%= path == '/admin/add-shop' ? 'active' : '' %>" href="/admin/add-shop">Üzlet hozzáadása</a></div>
        </div>
    </nav>
</header>