<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add shop</title>
</head>
<body>
   <p> add shop :)</p>
   <form action="" method="post">
    <input type="text"name="name">
    <input type="text"name="description">
    <input type="text"name="location">
<button type="submit">kuld</button>
   </form>
</body>
</html>